// @font-face {
//   font-family: 'OpenSans';
//   src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf')format('opentype');
//   font-size: normal;
//   font-weight: 400;
// }

// .title {
//   font-family: sans-serif;
//   }

.design_approach_section_wrapper {
  background-color: $DarkOrange;
  background-image: url("../../../../public/svg/fold.svg");
  background-size: 100%;

  .design_approach_section {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 110px;
    padding-bottom: 20px;
    max-width: 782px;

    .title {
      font-size: 64px;
      line-height: 76px;
      text-align: left;
      letter-spacing: 0.02em;
      color: $White;
      font-family: "domain";
      margin: unset;
    }

    .description {
      padding-top: 25px;
      padding-bottom: 15px;
      font-size: 26px;
      line-height: 50px;
      color: $White;
      font-family: $DomineRegular;
      margin: unset;
    }

    @include layout(500) {
      .title {
        font-size: 32px;
        line-height: 42px;
      }
      .description {
        font-size: 20px;
        line-height: 34px;
      }
    }

    @include layout(360) {
      .title {
        font-size: 32px;
        line-height: 42px;
      }
    }

    // @include layout(600){
    //   .cards_row{
    //     margin-top: 40px;
    //   }
    // }
  }

  @include layout(600) {
    .design_approach_section {
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 42px;
      .cards_row {
        margin-top: 40px;
        margin-bottom: 120px;
      }
    }
  }

  @include layout(480) {
    .design_approach_section {
      margin-left: 30px;
      margin-right: 30px;
      .cards_row {
        margin-top: 40px;
        margin-bottom: 120px;
      }
    }
    .description {
      font-size: 20px;
      line-height: 34px;
    }
  }

  @include layout(360) {
    .design_approach_section {
      padding-top: 42px;
      margin-left: 20px;
      margin-right: 20px;
      .cards_row {
        margin-top: 40px;
        margin-bottom: 120px;
      }
      .description {
        font-size: 20px;
        line-height: 34px;
        padding-top: 20px;
      }
      .MuiGrid-root,
      .MuiGrid-item {
        max-width: fit-content !important;
      }
    }
  }
}

.design-approach-cards-wrapper {
  background-color: $DarkOrange;
  background-image: url("../../../../public/svg/fold.svg");
  background-size: 100%;

  .design-approach-cards-section {
    margin-left: 64px;
    margin-right: 64px;
    padding-bottom: 100px;
  }

  .cards_row {
    padding-top: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1230px;
    width: 100%;
  }
 
  .each_card {
    margin-bottom: 20px;
    width: 290px;
    background: #f5f5f4;
    margin-right: 20px;

    .card_img {
      text-align: center;
      padding-top: 117px;
      padding-bottom: 56px;
      min-height: 108px;
    }

    .card_body {
      margin-left: 36px;
      margin-right: 36px;

      .card_title {
        line-height: 38px;
        text-align: center;
        font-family: $GraphikNormal;
        font-size: 30px;
        letter-spacing: 0.02em !important;
        color: $Black;
        margin: unset;
      }

      .card_text {
        font-family: $GraphikNormal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.16px;
        min-height: 78px;
        max-height: 78px;
        margin-bottom: 58px;
        margin-top: 15px;
        color: $Black;
      }
      @include minMaxWidth(900, 1023) {
        .card_text {
          min-height: 130px;
        }
      }

      @include layout(730) {
        .card_text {
          min-height: 104px;
          max-height: 104px;
        }
      }

      @include layout(640) {
        .card_title {
          line-height: 38px;
          text-align: center;
          letter-spacing: 0.16px;
          font-size: 26px;
          line-height: 38px;
          color: $Black;
          margin-bottom: 35px;
        }

        .card_text {
          display: none;
        }
      }

      @include layout(545) {
        .card_title {
          font-size: 20px;
        }
      }

      @include layout(360) {
        .card_title {
          font-size: 20px;
        }
        .design-approach-cards-section {
          margin-left: unset;
          margin-right: unset;
        }
      }
    }

    @include layout(640) {
      .card_img {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 31px;
        min-height: 104px;
      }
      .card_body {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    @include layout(600) {
      .card_img {
        min-height: 70px;
      }
    }

    @include layout(360) {
      .card_img {
        padding-top: 35px;
        padding-bottom: 26px;
        min-height: 66px;
      }
      .card_body {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    // @include minMaxWidth(360,640){
    //   .card_body {
    //     margin-left: 0px;
    //     margin-right: 0px;
    //   }
    // }
  }

  .each_card:nth-child(4) {
    margin-right: 0px;
  }
  .each_card:nth-child(8) {
    margin-right: 0px;
  }

  @include layout(360) {
   
    .design-approach-cards-section {
      margin-left: 20px;
      margin-right: 20px;
    }
    .each_card {
      margin-bottom: 20px;
      width: 150px;
      background: #f5f5f4;
      margin-right: 20px;
    
  }
}
}
