// fonts Variables

@font-face {
  font-family: "GraphikRegular";
  src: url("./fonts/GraphikRegular.otf");
  font-size: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DomineRegular";
  src: url("./fonts/Domine-Regular.ttf") format("truetype");
  font-size: normal;
  font-weight: 400;
}



