
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
.challenge-section-wrapper{
    position: relative;
    background-color: $Grey;
    .des{
        display: flex;
        flex-direction: row;
        gap: 110px;
        @include minMaxWidth(650, 770) {
            flex-direction: column;
        }
        @include minMaxWidth(300,650){
            flex-direction: column-reverse;
        }
        
    }
    .challenge-content{
    
        display: flex;
        flex-direction: column;
    
    }
    .challenge-section {
        padding-top: 172px;
        margin-left: 70px;
        margin-right: 70px;
        padding-bottom: 154px;

        .para {
            font-family:$GraphikNormal;
            font-size: 20px;
            line-height: 38px;
            letter-spacing: 0.16px;
            color: $Black; 
            margin-top: 30px;
            max-width: 546px;
        }

        .challenge-desc-col {
            padding-top: 172px;
        }

        .challenge-img {
            
            text-align: left;
            padding-left: 111px;
            
            img {
                position: absolute;
                width: 417px;
                height: 417px;  
                top: 135px;
                @include minMaxWidth(1024, 1230) {
                    width: 390px;
                height: 390px;  
                top: 130px;
                  }
                  @include minMaxWidth(770, 1024) {
                    width: 370px;
                    height: 370px;  
                    top: 130px;
                    }
                    @include minMaxWidth(650, 770) {
                        width: 417px;
                        height: 417px;  
                        top: 135px;
                    }
                    @include minMaxWidth(300,650){
                        width: 417px;
                        height: 417px;  
                        top: 135px;
                    }
            }
        }

        .title {
            font-family:$GraphikNormal;
            font-size: 64px;
            line-height: 100%;
            text-align: left;
            color: $Black;
            letter-spacing: 0.16px;
            max-width: 518px;
        }
        // @include minMaxWidth(350,650){
        //     display: none;
        // }
        @include layout(1200) {
            .title {
                font-size: 54px !important;
            }
            .challenge-img {
                width: 409px;
                height: 447px;
                padding-left: 92px;
            }
        }

        @include minLayout(1165) {
            .title {
                font-size: 54px !important;
            }
        
            .challenge-img {
                width: 409px;
                height: 447px;
                padding-left: 92px;
            }
        }

        @include layout(1164) {
            .title {
                font-size: 48px !important;
            }
        
            .challenge-img {
                width: 409px;
                height: 447px;
                padding-left: 59px;
            }
        }

        @include layout(992) {
            .title {
                font-size: 48px !important;
            }
        
            .challenge-img {
                width: 405px;
                height: 451px;
                padding-left: 36px;
            }

            .challenge-desc-col {
                padding-top: 148px;
            }
        }

        @include minLayout(992) {
            .title {
                font-size: 48px !important;
            }
        
            .challenge-img {
                width: 409px;
                height: 447px;
                padding-left: 59px;
            }
        }

        @include layout(899) {
            .challenge-desc-col {
                padding-top: 148px;
            }

            .title {
                font-size: 48px !important;
            }
        
            .challenge-img {
                width: auto;
                height: auto;
                padding-left: 0px;
                text-align: center;

                // img {
                //     // padding-top: 159px;
                // }
            }
        }
    }
}