// fonts Variables
$Graphik: "Graphik";
$DomineRegular: "DomineRegular";
$GraphikNormal: "GraphikNormal";
$GraphikMedium: "GraphikMedium";

// Variales
$White: #FFFFFF;
$White1: #f5f5f5;
$Orange: #D94030;
$ThemeOrange: #FF4E00;
$Grey: #F5F5F5;
$Black: #232323;
$DarkOrange: #DB4833;
$textColor: #202124;
$gray1: #A7ABB7;
$borderColor: #A8ABB7;
$fontFamily: "GraphikNormal";