$fs: 16px;

$lato: "Lato"; // light-300, normal-400, bold-700
$noto: "NotoSerif"; // normal-400, bold-700
$she: "Sheline"; // normal-400
$equal: "EqualSansDemo"; // normal-400

$backgroundColor: #f8f8f9;

// colors
$red1: #ff1400;
$red2: #FF1603;
$gray1: #474158;
$gray2: #535356;
$black1: #1b1b1b;
$white: #fff;
$green: #0bb23e;
$titleColor: #2A2A2A;
$backgroundColor: #f8f8f9;