// $Graphik: "Graphik";
$DomineRegular: "DomineRegular";
$GraphikRegular: "GraphikRegular";
$GraphikMedium: "GraphikMedium";

// Variales
$White: #ffffff;
$White1: #f5f5f5;
$Orange: #d94030;
$ThemeOrange: #ff4e00;
$Grey: #f5f5f5;
$Black: #232323;
$DarkOrange: #db4833;
$textColor: #202124;
$gray1: #a7abb7;
$borderColor: #a8abb7;
// $fontFamily: "GraphikNormal";
